<html>
    <head>
        <title>Hwawaii Climate App</title>

    </head>
    <body>
        
        <h1><b><center>Welcome to Surf's Up! Hawai'i Climate API!</center></b></h1>
        <p><center><img src="../static/surfs-up.jpeg" height=350 width=1100 ></center></p>
            <br>
                <li>
                    List of stations from the dataset:
                        <a href= '/api/v1.0/stations'> Stations</a>
                </li>
            <br>
                <li>
                    The precipitation observations for the previous year:
                        <a href= '/api/v1.0/precipitation'> Precipitation Records</a>
                </li>
            <br>
                <li>
                    List of Temperature Observations (tobs) for the previous year:
                        <a href= '/api/v1.0/tobs'> Last Year's Temperature Records</a>
                </li>
    
            <br>
                <li>
                    Records for the minimum, average and the maximum temperatures for a given start date (year-month-date):
                        <a href="/api/v1.0/2016-12-23"> Temperature Records for the required Dates</a>
                </li>
            <br>
                <li>
                    Records for the minimum, average and the maximum temperatures for a given start and end date (year-month-date):
                        <a href="/api/v1.0/2016-12-06/2016-12-13"> Temperature Records for the required Dates</a>
    
                </li>
    </body>
</html>